.breadcrumb {
  &__container {
    display: flex;
  }
}

/* breadcrumb slash */
/* Add a slash symbol (/) before/behind each list item */
.breadcrumb__container li + li:before {
  padding: 0px;
  color: black;
  content: "/\00a0";
}

/* tags */

.article {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 160px;
  @include pad {
    padding-bottom: 0px;
  }
  @include mobile {
    padding-bottom: 56px;
  }
  
  &__tags {
    display: flex;

    &__link {
      display: block;

      /* tags hover button */
      &:hover {
        display: inline-block;
        background-color: $primary;
        color: $white;
        border-radius: 5px;
        opacity: 1;
        margin-bottom: -8px;
      }
    }
  }

  &__body {
    width: 74%;

    @include mobile {
      width: 100%;
    }
  }



  &__subtitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  &__share {
    display: flex;
    border-bottom: 1px solid $gray-300;

    @include mobile {
      margin-bottom: 10px;
    }

  }
  &__footer {
    @include pad {
      display: none;
    }
    @include mobile {
      display: block;
    }

    &__md {
      display: none;
      @include pad {
        display: block;
      }
      @include mobile {
        display: none;
      }
    }
  }
}

/* 文章照片 */
.post {
  max-width: 100%;
  height: 539px;
  object-fit: cover;
  object-position: center;


  @include pad {
    height: 292px;

  }

  @include mobile {
    height: 225px;
  }
}

.share {
  &__list {
    display: flex;
  }

  &__icon {
    display: block;
  }
}

//component
.article {
  &__pagination {
    display: flex;
    justify-content: space-between;

    @include mobile {
      flex-direction: column;
      justify-content: flex-start;
    }

    i {
      line-height: 30px;
    
    }
  }

  &__link {
    display: flex;
    line-height: 30px;
  }
}

.tags {
  &__aside {
    width: 22%;

    @include mobile {
      width: 100%;
    }
  }
  &__header {
    display: flex;

    img {
      width: 38px;

      @include pad {
        width: 19px;
      }
    }
    h4 {

      @include pad {
        line-height: 42px;
      }
    }
  }
  &__content {
    a {
      /* tags hover button component */
      &:hover {
        display: inline-block;
        background-color: $primary;
        color: $white;
        border-radius: 5px;
        opacity: 1;
      }

      @include pad {
        line-height: 2.25;
       /*  margin-bottom: -8px; */
      }
    }
  }
}
