// color

//gray
$white: #fff;
$gray-200:#DCDCDC; /* lightGray */
$gray-300: #707070; /* gray */
$gray-400: #6C6C6C;
$gray-500:#555555;
$gray-600:#212529; /* grayBlack */
$gray-700: #111619; /* mainBlack */
$gray-800: #0A0A0A; /* gray 700 */
$black: #000;

//gray map
$grays: (
  //"100": $gray-100,
  "200": $gray-200,
  "300": $gray-300,
  "400": $gray-400,
  "500": $gray-500,
  "600": $gray-600,
  "700": $gray-700,
  "800": $gray-800,
  //"900": $gray-900
  "white": $white,
  "black": $black
);

//red oranges
$red-100: #fbf2f2;
$red-400: #aa0601;
$red-800: #650300;
$org-300: #b75929;
$org-800: #5F3E2D;

//bootstrap theme colors
$primary:$red-400;
$secondary:$red-100;
$danger: $red-800;
$warning: $org-300;
$info:$org-800;
//$success



//theme map
$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  //"success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "white":      $white,
  "black":       $black
);


//util-colors
//background-color
@each $key, $value in $theme-colors{
  .bg-#{$key}{
    background-color: $value;
  }
}

//text-color
@each $key, $value in $theme-colors{
  .text-#{$key}{
    color: $value;
  }
}
@each $key, $value in $grays {
  .text-#{$key}{
    color: $value;
  }
  
}

//border-color
@each $key, $value in $grays{
  .bd-#{$key}{
    border: 1px solid $value;
  }
}

//util.font-weight
//font-weight
@each $key in 3,4,5,6,7,9 {
  .fw-#{$key} {
    font-weight: $key*100;
  }
} 

//* spacer 參考用 */
$spacer: 1rem;
$spacers: (
  0: 0,
  1: $spacer / 4,
  2: $spacer / 2,
  3: $spacer,
  4: $spacer * 1.25,
  /* 20 */ 5: $spacer * 1.5,
  /* 24 */ 6: $spacer * 1.875,
  /* 30 */ 7: $spacer * 2,
  /* 32 */ 8: $spacer * 2.25,
  /* 36 */ 9: $spacer * 2.5,
  /* 40 */ 10: $spacer * 3,
  /* 48 */ 11: $spacer * 3.75,
  /* 60 */ 12: $spacer * 4 /* 64 */,
);

