/* util */

//container
.container {
  max-width: 1140px; /* 1110+30 */
  margin: 0 auto;

  padding-left: 15px;
  padding-right: 15px;

  @include pad {
    max-width: 720px; /* 690+30 */
  }

  @include mobile {
    max-width: 375px; /* 345+30 */
  }
}

.container-section {
  padding-top: 60px;
  padding-bottom: 80px;

  @include pad {
    padding-top: 40px;
    padding-bottom: 56px;
  }
  @include mobile {
    padding-top: 32px;
    padding-bottom: 40px;
  }
}

.container-tab {
  padding-top: 96px;
  padding-bottom: 160px;

  @include pad {
    padding-top: 60px;
    padding-bottom: 96px;
  }

  @include mobile {
    padding-top: 28px;
    padding-bottom: 56px;
  }
}

/*  分頁副標題 */

//call out
.callout-secondary {
  border-left: 0.5rem solid #9f1213;
  padding-left: 1rem;
  @include mobile {
    padding-left: 0.5rem;
  }
}

/* index home page font*/
.title {
  font-size: 3rem;
  text-align: center;

  @include pad {
    font-size: 2rem;
    margin-bottom: 2rem;
  }

  @include mobile {
    font-size: 1.25rem;

    margin-bottom: 1.25rem;
  }
}
/* tab pages font */
.tab__title {
  /* 64px */
  font-size: 3rem;
  line-height: 1.66;
  margin-bottom: 3.75rem;

  @include mobile {
    font-size: 1.75rem;
  }
}

.text-xs {
  font-size: 0.875rem; /* 14px */
}

.text-s {
  font-size: 1.25rem; /* 20px */
  @include pad {
    font-size: 1rem;
  }
}

.text-m {
  font-size: 1.5rem; /* 24px */
  @include pad {
    font-size: 1rem;
    line-height: 1.8;
  }
}

/* faq */
.pl-85 {
  padding-left: 8.5%;
}

/* opacity */
.opacity-6 {
  opacity: 0.6;
}

/* spacial font size product title */

.fz-42 {
  font-size: 2.625rem;
}

/* 不顯示 */
.lg-no-display {
  display: none;
}

.md-no-display {
  @include pad {
    display: none;
  }
}

/* display */
.lg-display {
  display: block;
}

.md-display {
  @include pad {
    display: block;
  }
}
/* 不顯示 */

.sm-display {
  @include mobile {
    display: block;
  }
}

.sm-no-display {
  @include mobile {
    display: none;
  }
}
