/* index contact */

.form{
  max-width: 66.66%;

  &__list {
    text-align: left;
  }
  &__label {
    display: block;
  }

  &__input {
    width: 100%;
  }
}

.form__comment {
  height: 136px;

  @include pad {
    height: 100px;
  }
}

//index
.form__submit{
  width: 50%;
  line-height: 54px;
  cursor: pointer;
  border:1px solid $red-100;

  &:hover[type="submit"]{
    background-color: $red-100;
    color:$red-400;
    border:1px solid $red-400;
  }
}